body {
  background-image: url("./img/spaceships_in_deep_space.png");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  overflow: hidden;
  color:#ffAf40;
}
aside {
  width: 150px;
  padding-left: 20px;
  height: 70vh;
  background-color: transparent;
}

aside a {
  font-size: 12px;
  color: #ffAf40;
  display: block;
  padding: 4px;
  padding-left: 30px;
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
}

aside a:hover {
  color: #3f5efb;
  background: #fff;
  outline: none;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

aside a i {
  margin-right: 5px;
}

aside p {
  margin: 0;
  padding: 40px 0;
  font-size:1.8em;
}

body {
  font-family: 'Roboto';
  width: 100%;
  height: 100vh;
  margin: 0;
}

.social {
  height: 0;  
}

.social i:before {
  width: 14px;
  height: 14px;
  font-size: 14px;
  position: fixed;
  color: #fff;
  background: #0077B5;
  padding: 10px;
  border-radius: 50%;
  top:5px;
  right:5px;
}

#iframeContent {
  width:100%;
  height:70vh;
  margin:0;
  padding:0;
  border:0px;
}

#container { 	
margin:0 auto;
padding:0;
width:90%;
height:100vh;
text-align:left;
vertical-align: middle;	
border:1px solid #cccccc;
}



#header {
margin:0;
padding:0;
height:15vh;
text-align:center;
background: transparent;
}

#header h1 {
margin:0;
padding:20px 0 0 20px;
font-size:2.8em;
letter-spacing:.1em;
font-weight:1400;
}

#header h2 {
margin:0;
padding:0 0 0 20px;
font-size:2.0em;
font-weight:lighter;
letter-spacing:.1em;
color:#ffAf40;
font-weight:1400;
}

#leftColumn {
float:left;
margin:0;
padding:0;
width:170px;
height:70vh;
font-size:.9em;
border: 1px solid white;
}

#leftColumn p {
padding:10px
}


#leftColumn h2 {
margin:0;
padding:0 0 0 0;
font-size:1em;
}

#leftColumn ul {
margin:0 0 0 0;
list-style:none;
}

#leftColumn li {
margin:4px 0 5px 10px;
}

#leftColumn li a {
text-decoration:underline;
}

#leftColumn li a:hover{
text-decoration:none;
}

#centerColumn { 	
margin:0 0 0 171px;
padding:0;
border: 1px solid white;
}

#centerColumn p {
padding:10px
}

#centerColumn h2 {
margin:0;
padding:10px 0 5px 0;
height: 70vh;
font-size:1.3em;
letter-spacing:.1em;
}

#footer {
position:relative;
bottom:0;
margin:0 0 0 0;
padding:0;
height:15vh;
line-height:15vh;
text-align:center;
font-size:.6em;
border-top:1px solid #cccccc;
}

